<section id="welcome-index-when-where">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>When &amp; Where</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 text-center">
        <h2><%= link_to 'wedding.ics' do -%>
          <%= render partial: 'calendar_svg' %>
        <%- end %></h2>
        <p>
          <strong>12:30pm &ndash; late</strong><br>
          <%= t :wedding_date %><br>
          &nbsp;<br>
        </p>
        <p><%= link_to 'Add to Calendar', 'wedding.ics' %></p>
      </div>
      <div class="col-md-6 text-center">
        <h2><%= link_to @google_maps_url do -%>
          <%= render partial: 'map_marker_svg' %>
        <%- end %></h2>
        <p>
          <%= render partial: 'wedding_address' %>
        </p>
        <p>
          <%= link_to 'Google Maps', @google_maps_url %>
        </p>
      </div>
    </div>
  </div>
</section>
