<main role="main">
  <%#= video_tag "engage.mp4", autoplay: true, loop: false, muted: true, class: "home_video" %>
  <%= render partial: 'nav' %>
  <%= render partial: 'jumbo' %>
  <%= render partial: 'when_where' %>
  <%= render partial: 'destination' %>
  <%= render partial: 'getting_there' %>
  <%= render partial: 'schedule' %>
  <%= render partial: 'activities' %>
  <%= render partial: 'lodging' %>
  <%= render partial: 'registry' %>
  <%= render partial: 'faq' %>
</main>
<%#= render partial: 'footer' %>
