<!DOCTYPE html>
<html>
  <head>
    <title><%= t :wedding_name %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
  </head>

  <body>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, class: flash_class(key)) do -%>
        <%= value %>
      <% end -%>
    <% end %>
    <%= yield %>
  </body>
</html>
